<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.iwillbe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".XuquiActivity"/><!--发布需求页面-->
        <activity android:name=".SheziActivity"/><!--设置页面-->
        <activity android:name=".Site"/><!--地点页面-->
        <activity android:name=".ServeAttestation"/><!--实名认证页面-->
        <activity android:name=".ChangpingXiangqingAvtivity"/><!--产品详情页面-->
        <activity android:name=".PayActivity"/><!--支付页面-->
        <activity android:name=".fragment.ListviewActivity"/>

    </application>

</manifest>